<div class="container">
<div class="table-responsive">
<table class="table table-striped my-3">
{% if ventas %}
    <thead>
            <tr>
                <th scope="col">Numero Venta</th>
                <th scope="col">Fecha Venta</th>
                <th scope="col">Iva</th>
                <th scope="col">Precio Bruto Total</th>
                <th scope="col">Medio De Pago</th>

                <th scope="col">Numero Venta</th>
                <th scope="col">Numero Prenda</th>
                <th scope="col">Cantidad vendida</th>
                <th scope="col">Precio neto unitario</th>
                <th scope="col">Precio neto total</th>
            </tr>
    </thead>
    <tbody>
        {% regroup data by numeroVenta as ventas %}
        <!--<p>{{ventas}}</p>--> <!--ESTA LINEA SE USO PARA PRUEBAS DEL REGROUP-->
        {% for venta in ventas %}
            {% for ventaDetalle in venta.list %}
                <tr>
                    {% if forloop.first %}
                    <td rowspan="{{ venta.list|length }}">{{ venta.grouper.numeroVenta }}</td>
                    <td rowspan="{{ venta.list|length }}">{{ venta.grouper.fechaVenta }}</td>
                    <td rowspan="{{ venta.list|length }}">{{ venta.grouper.iva }}</td>
                    <td rowspan="{{ venta.list|length }}">{{ venta.grouper.precioBrutoTotal }}</td>
                    <td rowspan="{{ venta.list|length }}">{{ venta.grouper.medioDePago }}</td>
                    {% endif %}

                    <td>{{ ventaDetalle.numeroVenta.numeroVenta }}</td>
                    <td>{{ ventaDetalle.numeroPrenda.numeroPrenda }}</td>
                    <td>{{ ventaDetalle.cantidadVendida }}</td>
                    <td>{{ ventaDetalle.precioNetoUnitario }}</td>
                    <td>{{ ventaDetalle.precioNetoTotal }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
{% else %}
<h3>No hay ventas</h3>
{% endif %}
</table>
</div>
</div>