<div class="container">

<div class="table-responsive">
<table class="table table-striped my-3">
    <thead>
        <tr>
            <th scope="col">Numero Venta</th>
            <th scope="col">Fecha Venta</th>
            <th scope="col">Iva</th>
            <th scope="col">Precio Bruto Total</th>
            <th scope="col">Medio De Pago</th>
            {% if index or administracion %}
                <th scope="col">Acciones</th>
            {% endif %}
        </tr>
    </thead>
    {% if ventas %}
    <tbody>
        {% for venta in ventas %}
            <tr>
                <td>{{ venta.numeroVenta }}</td>
                <td>{{ venta.fechaVenta }}</td>
                <td>{{ venta.iva }}</td>
                <td>{{ venta.precioBrutoTotal }}</td>
                <td>{{ venta.medioDePago }}</td>
                {% if index %}
                    <td>
                        <a href="{% url 'ventas:indexEliminarUnaVenta' venta.numeroVenta %}">Eliminar</a>
                    </td>
                {% elif administracion %}
                    <td>
                        <a href="{% url 'core:administracion_ventasEliminar' venta.numeroVenta %}">Eliminar</a>
                    </td>                
                {% endif %}
            </tr>       
        {% endfor %}
    </tbody>
    {% endif %}
</table>
</div>

<div class="table-responsive">
<table class="table table-striped my-3">
    <thead>
        <tr>
            <th scope="col">Numero Venta</th>
            <th scope="col">Numero Prenda</th>
            <th scope="col">Cantidad vendida</th>
            <th scope="col">Precio neto unitario</th>
            <th scope="col">Precio neto total</th>
            {% if ventaEnCurso %}
                <th scope="col">Acciones</th>
            {% endif %}
        </tr>
    </thead>
    {% if ventasDetalle %}
    <tbody>
        <tr>   
            {% for ventaDetalle in ventasDetalle %}
                <td>{{ ventaDetalle.numeroVenta.numeroVenta }}</td>
                <td>{{ ventaDetalle.numeroPrenda.numeroPrenda }}</td>
                <td>{{ ventaDetalle.cantidadVendida }}</td>
                <td>{{ ventaDetalle.precioNetoUnitario }}</td>
                <td>{{ ventaDetalle.precioNetoTotal }}</td>
                {% if ventaEnCurso %}
                    <td>
                        <a href="{% url 'ventas:eliminarUnaVentaDetalleMomentanea' ventaDetalle.numeroVenta.numeroVenta ventaDetalle.numeroPrenda.numeroPrenda %}">Eliminar</a>
                    </td>
                {% endif %}
            {% endfor %}
        </tr>       
    </tbody>
    {% endif %}
</table>
</div>

</div>