{% extends 'layouts/base.html' %}

{% block content %}
<h1>Inventario</h1>

{% if inventario %}
<table class="table table-striped">
    <thead>
            <tr>
                <th scope="col">Codigo Prenda</th>
                <th scope="col">Nombre Prenda</th>
                <th scope="col">Descripcion Prenda</th>
                <th scope="col">Precio Neto Unitario</th>
                <th scope="col">Cantidad Total</th>
            </tr>
    </thead>
    <tbody>
        {% for prenda in inventario %}
            <tr>
                <td>{{ prenda.codigoPrenda }}</td>
                <td>{{ prenda.nombrePrenda }}</td>
                <td>{{ prenda.descripcionPrenda }}</td>
                <td>{{ prenda.precioNetoUnitario }}</td>
                <td>{{ prenda.cantidadTotal }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <h3>Inventario vacio</h3>
{% endif %}
{% endblock %}