{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col col-md-2 mx-auto">
        {% include 'includes/alertas.html' %}
        <h1>Registrar compra</h1>
        <form action="{% url 'compras:formulario' %}" method="POST">
            {% csrf_token %}
            {{ form | crispy }}
            <button type = "submit" class = "btn btn-primary my-1" name="agregar">Agregar compra a orden de compra</button>
            <button type = "submit" class = "btn btn-primary my-1" name="registrar">Registrar orden de compra</button>
        </form>
    </div>

    <div class="col col-md-10 mx-auto">
        {% include 'includes/tablaCompras.html' %}
    </div>
</div>
{% endblock %}
